p.container {
  display: flex;
  flex-direction: row;
  background-color: var(--yahoo-purple);
}
p.container > * {
  flex: 1;
  color: var(--off-white);
}

p.container > input,
p.container > textarea {
  color: var(--matta-black);
}
